:root {
    --color-primary: #2C73EB;
    --color-white: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

#form_screen {
    width: 100%;
    height: 100vh;
    min-height: 560px;
    background-color: var(--color-primary);
    display: flex;
    overflow: hidden;
}  
#form_screen a{
    text-decoration: none;
    color: var(--color-primary);
} 

.form_section {
    width: 50%;
    height: 100vh;
    background-color: var(--color-white);

}
.form_section header{
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;

}
.form_section footer {
    padding: 0.5rem 2rem 0rem;
    border-bottom: 0px;

}

.form_section .form-controls {
    width: 100%;
    height: calc(100vh - 105px);
    padding-inline: 6rem;
    display: grid;
    place-items: center;
}

.form_section .form-controls p {
    font-size: 0.9rem;
    margin-block: 1rem 2rem;
}

.form_section .form-controls .input-group{
    width:100%;
    display: flex;
    padding-block: 0.5rem;
    align-items: center;
}
.form_section .form-controls .input-group label{
    width: 40%;
    font-weight: 600;
}
.form_section .form-controls .input-group input{
    width:60%;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
}
.form_section .form-controls .input-group input:focus{
    outline: none;
    box-shadow: 0 0 2px var(--color-primary) !important;
}
.form_section .form-controls .forget-pass{
    width:100%;
    border-bottom: 1px solid #e2e2e2;
    padding-block:1rem;
    text-align: end;
}
.form_section .form-controls .forget-pass a{
    color: var(--color-primary);
    text-decoration: none;
}
.form_section .form-controls .remember_me{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    user-select: none;
    border-bottom: 1px solid #e2e2e2;

}
.form_section .form-controls .remember_me .text-end{
    text-align: end;
}
.btntheme{
    background-color: var(--color-primary);
    padding: 0.4rem 1rem;
    border:0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    color:white;
    cursor:pointer;
    transition: background-color 0.3s ease; 
}
.btntheme:hover{
    background-color: #1e5aa7;
}
.form_section .text-center{
    text-align: center;
    margin-top: 1rem;

}
.form_section .text-center a{
    color: var(--color-primary);
    text-decoration: none;

}
#form_screen  .imageSection{
    width: 50px;
    height: 100vh;
    position: relative;

}
#form_screen  .imageSection img{
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;

}
#form_screen #error{
    color:Red;
    margin-bottom: 1rem 2rem;
    display: block;
}
/* Index Page */
header.header {
    background-color: var(--color-primary);
    padding-block: 1rem;
    padding-inline-start: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header.header nav{
    width: 100%;
}
header.header nav>ul{
    width: 100%;
    display: flex;
    list-style: none;
    
}
header.header nav>ul li a,
header.header  a.logo{
    padding: 1rem;
    color: var(--color-white);
    text-decoration: none;
    font-size:0.3rem;
    transition: color 0.5s ease;
}
header.header nav>ul li a:hover{
    color:black;
}
header.header a.logo{
    font-size: 1.2rem;
    padding: 0;
    font-weight: bold;

}
.logo-md,
header.header button{
    float:left;
}
.logo-md{
    width: 80%;
}
.logo-lg{
    display: inline;
}
header.header nav{
    display:none;
    margin-top: 1rem;
}
header.header nav ul{
    flex-direction: column;
}
header.header nav ul li>a{
    display:block;
    padding-block: 0.5rem;
    padding-inline: 0 !important;
}
header.header nav>ul li.divider{
    margin-left:auto;
}
.logo-lg{
    display: none !important;
}
/* Header cards Page */

body.index{
    background-color: #f1f1f1;
}
.container{
    width: 1140px;
    margin-inline: auto;
}
.title{
    margin-top: 2rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.title.lista{
    padding-left: 2rem;

}
.overview{
    width:100%;
    padding: 3rem 8rem;
    display:flex;
    flex-basis: 1;
    justify-content: space-between;
}
.overview .card{
    display:block;
    width: 23%;
    padding: 2rem;
    text-align: center;
    color: var(--color-primary);
    text-decoration: none;
    background-color: var(--color-white);
    border: 1px solid #e2e2e2;
    border-radius: 1rem;
    transition: 0.5s ease;
}
.overview .card:hover{
    box-shadow: 0 0 30px 0 rgb(0, 0, 0, 0.1);

}
.overview .card .icon i{
    font-size:3rem;
}
.overview .card .icon::before{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: 100%;
    z-index: -1;
}
.overview .card .icon{
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width:1140px) {

    .form_section .form-controls{
    padding-inline: 2rem;
    }
    header.header{
        flex-wrap: wrap;
    }
    .logo-md{
        width: 80%;
        font-size: 1.1rem !important;
    }
    .logo-lg{
        display: none;
    }
    .logo-md,
    header.header button{
        display: inline;
        float: left;
    }
    .logo-md{
        width: 80%;
        font-size:1.1rem;
    }

    header.header nav{
        margin-top: 1rem;
    }
    header.header nav ul{
        flex-direction: column;
    }
    header.header nav ul li>a{
        padding-block: 0.5rem;
        padding-inline: 0 !important;
    }
    header.header nav ul li.divider{
        margin-left: 0;
    }
    .logo-lg{
        display: none !important;
    }
    .container{
        width:90%;
    }
    .overview{
        width:100%;
        padding: 3rem 3rem; 
    }
    .overview .card{
        width: 24%;
        padding-inline:0;
    }
}
@media screen and (max-width:767px) {

    #form_screen {
        overflow: visible;
    }  
    .form_section {
        width: 100%;
    }
    .form_section .form-controls{
        padding-inline: 1rem;
    }
    #form_screem .imageSection{
        width: 0%;
    }
    header.header{
        padding-inline: 1rem;

    }
    .title{
        padding-left: 0rem;
        font-size: 1.1rem;

    }
    .container{
        width:96%;
    }
    .overview{
        padding: 3rem 0rem; 
    }
    .overview .card{
        width: 25%;
        padding-inline:0;
    }
    .overview .card .icon{
        height: 60%;
    }
    .overview .card .icon::before{
        width: 50px;
        height: 50px;
    }

}
@media  screen and (max-width:390px) {

    .form_section .form-controls{
        margin-block: 2rem;
    }
    .form_section .form-controls .input-group{
        flex-direction: column;
        align-items: flex-start;
       
    }
    .form_section .form-controls .input-group label{
        width: 10%;
        margin-bottom: 0.5rem;
    }
    .form_section .form-controls .input-group input{
        width:100%;  
    }
    .form_section header{
        padding: 1rem 0;
    }
    .form_section footer{
        padding: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
    }
    .title{
        font-size: 1rem;
        text-align: center;

    }
    .overview{
        flex-wrap: wrap;
        padding: 1.5rem 0;
    }
    .overview .card{
        width: 50%;
        padding-inline:0;
    }
}
